<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{ person.name }}</title>

    <meta name="author" content="{{ person.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <table style="width:100%;max-width:860px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr style="padding:0px">
                  <td style="padding:2.5%;width:63%;vertical-align:middle">
                    <p class="name" style="text-align: center;">
                      {{ person.name }}
                    </p>
                    <p>
                      {{ intro }}
                    </p>
                    <p>
                      {{ bio }}
                    </p>
                    <p>
                      {{ interests | join(' · ') }}
                    </p>
                    <p style="text-align:center">
                      <a href="mailto:{{ person.email }}">Email</a> &nbsp;/&nbsp;
                      <a href="{{ person.cv }}">CV</a> &nbsp;/&nbsp;
                      <a href="{{ person.github }}">Github</a> &nbsp;/&nbsp;
                      <a href="{{ person.google_scholar }}">Scholar</a>
                    </p>
                  </td>
                  <td style="padding:2.5%;width:37%;max-width:37%">
                    <img style="width:100%;max-width:100%;object-fit: cover;" alt="profile photo" src="{{ person.picture_url }}">
                  </td>
                </tr>
              </tbody>
            </table>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr>
                  <td style="padding:16px;width:100%;vertical-align:middle">
                    <h2>News</h2>
                    <ul>
                      <li>Invited to be a <b>CVPR'26</b> reviewer.</li>
                      <li><b>Spurfies</b> accepted to 3DV'25 as an oral and nominated as an award candidate.</li>
                      <li>Presented <b>latentSplat</b> at ECCV'24 <i>on Oct 3 2024</i>.</li>
                      <li><b>latentSplat</b> accepted to ECCV'24.</li>
                      <li>Successfully defended my Master's Thesis <i>on April 9 2024</i>.</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr>
                  <td style="padding:16px;width:100%;vertical-align:middle">
                    <h2>Publications</h2>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                {% for publication in publications %}
                <tr {% if publication.nickname in ["spurfies", "latentsplat", "optic-cup-seg"] %}bgcolor="#ffffd0"{% endif %}>
                  <td style="padding:16px;width:20%;vertical-align:middle">
                    <img src="publication/{{ publication.nickname }}/featured.{% if publication.has_gif %}gif{% else %}png{% endif %}" alt="Featured image from {{ publication.title }}" style="width:100%;max-width:160px;height:auto;">
                  </td>
                  <td style="padding:8px;width:80%;vertical-align:middle">
                    <a href="{{ publication.resources['website'] if 'website' in publication.resources else publication.resources['paper'] }}">
                      <span class="papertitle">{{ publication.title }}</span>
                    </a>
                    <br>
                    {% for author in publication.authors %}
                      {% if author == "Kevin Raj" %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <em>{{ publication.venue }}</em>, {{ publication.year }}
                    {% if publication.mode == "Oral" %}
                      <span style="color:#d00;">(Oral Presentation)</span>
                    {% endif %}
                    {% if publication.nickname == "spurfies" %}
                      <span style="color:#d00;">(Award Candidate)</span>
                    {% endif %}
                    <br>
                    {% for resource_name, resource_link in publication.resources.items() %}
                      <a href="{{ resource_link }}">{{ resource_readable_names[resource_name] }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr>
                  <td style="padding:16px;width:100%;vertical-align:middle">
                    <h2>Projects</h2>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                {% for project in projects %}
                <tr>
                  <td style="padding:16px;width:20%;vertical-align:middle">
                    <img src="project/{{ project.nickname }}/featured.{% if project.has_gif %}gif{% else %}png{% endif %}" alt="Featured image from {{ project.title }}" style="width:100%;max-width:160px;height:auto;">
                  </td>
                  <td style="padding:8px;width:80%;vertical-align:middle">
                    <span class="papertitle">{{ project.title }}</span>
                    {% if project.details %}
                      <br>
                      {{ project.details }}
                    {% endif %}
                    <br>
                    {% for resource_name, resource_link in project.resources.items() %}
                      <a href="{{ resource_link }}">{{ resource_readable_names[resource_name] }}</a>{% if not loop.last %} / {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="width:100%;max-width:860px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr>
          <td style="padding:16px;width:100%;text-align:center;">
            Thanks to Jon Barron for making his template open source.
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
