<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ person.name }}</title>
    <meta charset="utf-8">
    <link href="css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"> 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,100;1,8..144,300;1,8..144,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <meta content="Yitshak's Personal Website" name="description"></meta>
    <meta content="Yitshak" name="author"></meta>
    <meta content="Copyright 2023 Yitshak. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body>
	<div id="main">
		<div id="header">
      <img src="profile.jpg" alt="Picture of Kevin">
      <div id="title">
        <div id="name-and-contact">
          <h1> {{ person.name }} </h1>
          <div id="icons">
            <a href="mailto:{{ person.email }}"><i id="icon" class="fa-solid fa-envelope"></i></a> ·
            <a href="{{ person.cv }}"><i id="icon" class="fa-brands ai-cv"></i></a> ·
            <a href="{{ person.github }}"><i id="icon" class="fa-brands fa-github"></i></a> ·
            <a href="{{ person.google_scholar }}"><i id="icon" class="ai ai-google-scholar"></i></a>
            <!-- <a href="{{ person.linkedin }}"><i id="icon" class="fa-brands fa-linkedin"></i></a> -->
          </div>
        </div>
        <!-- <p id="intro-warning"> Looking for PhD position, if my profile interests you please contact me!!</p> -->
        <p id="intro"> {{ intro }} </p>
        <p id="bio"> {{ bio }} </p>
        <p>{{ interests | join(' · ') }}</p>
      </div>
    </div>

		<div id="nav">
      <a href="#publications">Publications</a>
      · <a href="#projects">Projects</a>
    </div>

		<div id="news" class="content-left middle-section">
      <h2>News</h2>
        <ul>
          <li> <b> Spurfies </b> accepeted to 3DV'25, with stellar reviews!!</li>
          <li> Preseneted <b> latentSplat </b> at ECCV'24. </li>
          <li> <b> latentSplat </b> accepeted to ECCV'24. </li>
          <li> Successfully defended my Master's Thesis. </li>
        </ul>
    </div>

		<div id="publications" class="content-left">
      <h2>Publications</h2>
      {% for publication in publications %}
      <div id="publication">
        <div id="publication-image">
          <img src="publication/{{ publication.nickname }}/featured.{% if publication.has_gif %}gif{% else %}png{% endif %}" 
          alt="Featured image from {{ publication.title }}.">
        </div>
        <div id="publication-content">
          <div id="publication-header">
            <a href="{{ publication.resources['website'] if 'website' in publication.resources else publication.resources['paper'] }}">
              <h3> {{ publication.title }} </h3>
            </a>
            <!-- <i> {{ ", ".join(publication.authors) }} </i> -->
            <i>
              {% for author in publication.authors %}
                {% if author == "Kevin Raj" %}
                  <b>{{ author }}</b>
                {% else %}
                  {{ author }}
                {% endif %}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
            </i>
            <br/>
            <p><b>{{ publication.venue }}, {{ publication.year }} </b></p>
          </div>
          <div id="publication-links">
            {% for resource_name, resource_link in publication.resources.items() %}
              <div id="publication-link"><a href="{{ resource_link }}"><i class="{{ resource_icons[resource_name] }}"></i> {{ resource_readable_names[resource_name] }} </a></div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
		</div>

    <div id="projects" class="content-left">
      <h2>Projects</h2>
      {% for project in projects %}
      <div id="publication">
        <div id="publication-image">
          <img src="project/{{ project.nickname }}/featured.{% if project.has_gif %}gif{% else %}png{% endif %}" 
     alt="Featured image from {{ project.title }}.">
        </div>
        <div id="publication-content">
          <div id="publication-header">
            <a href="{{ project.resources['website'] if 'website' in project.resources else project.resources['paper'] }}">
              <h3> {{ project.title }} </h3>
            </a>
            <br/>
            <p style="font-size: 15px;">{{ project.details }}</p>
          </div>
          <div id="publication-links">
            {% for resource_name, resource_link in project.resources.items() %}
              <div id="publication-link"><a href="{{ resource_link }}"><i class="{{ resource_icons[resource_name] }}"></i> {{ resource_readable_names[resource_name] }} </a></div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
		</div>

    <div id="footer"><p> Template adapted from <a href=" https://anadodik.github.io/"> Ana Dodik </a> </p></div>
	  </div>
  </body>
</html>
